.addressLabel {
    padding: 1em;
    border-radius: .6em;
    border: none;
    font-size: .5em;
}

.addressInput {
    padding: 1em;
    border-radius: .6em;
    width: 100%;
    background-color:#242129 ;
}

.addressInput:focus {
    background-color:#242129 ;
    border: none;
    outline: none;
}


.description {
    margin: .1rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
    padding: .5em;
}


.sticky {
    position: sticky;
    top: 0;
}

.popover {
    font-size: .8em;
    text-align: center;
    padding: 1em;
}

.popover a {
    font-weight: bold;
}

.removeButton:hover {
    color: rgba(229, 51, 89, 0.8);
    cursor: pointer;
    background: radial-gradient(circle, rgba(24,20,26,1) 0%, rgb(51, 46, 56) 100%);

}

.removeButton {
    cursor: pointer;
    color: rgb(87, 87, 87);
    padding: .5em .25em 0 .25em;
    background: #18141a;
    border-radius: .25em;
    background: radial-gradient(circle, rgba(33,30,37,1) 0%, rgba(24,20,26,1) 100%);
}

.categoryCounts {
    color: darkgrey;
}



.setOutfitButton:hover {
    color: rgba(229, 51, 89, 0.8);
    cursor: pointer;
    background: radial-gradient(circle, rgba(24,20,26,1) 0%, rgb(51, 46, 56) 100%);

}

.setOutfitButton {
    cursor: pointer;
    color: rgb(87, 87, 87);
    padding: .5em;
    background: #18141a;
    border-radius: .25em;
    background: radial-gradient(circle, rgba(33,30,37,1) 0%, rgba(24,20,26,1) 100%);
}


.outfitRow {
    margin-bottom: 1em;
}
