html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  color: #fff;
  background: linear-gradient(#18141a, rgb(17, 12, 17));
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

