.nav_item {
    padding: 1em 1em 1.2em 1em;
    cursor: pointer;
}


.nav_item_active {

    border-bottom: 3px solid #e53359;
}

.nav_item:hover {

    border-bottom: 3px solid #e53359;
}


.navbar {
    border-bottom: 1px solid #242129;
    padding-top: 1em;
}

.nav_container {
    display: flex;
}

.logo {
    float:left;
}


.logo_name {
    padding-top: .8em;
    margin-left: .5em;
    font-weight: bold;
}


.profileImage {
    background: rgba(103,99,112,.4);
}

.profileName {
    color: white;
}

.web3Button {
    background: none;
    font-weight: bold;
    color: white;
    border: none;
}

.connectButton {
    font-size: 1em;
}

.web3Button:hover {
    cursor: pointer;
    color: #e53359;
}

.disconnectButton {
    font-size: .8em;
    color: gray;
}

